*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primarycolor:#1a91f0;
  --headingcolor:#1e2532;
  --subtitlecolor:#828282;
  --labelcolor:#080808;
}

body{
  background-color: #f2f2f2 !important;
}





.alignment-center{
  display:flex;
  align-items: center;
  justify-content: center;
}
.wraper{
  padding:25px;
  margin-top: 40px;
  width:500px;
  height: 340px;
  background-color: #ffff;
  border-radius: 5px;
}


h5{
  font-size: 24px !important;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--headingcolor);
}
p{
 
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5em;
  letter-spacing: 0.5px;
  color: var(--subtitlecolor);
}

.form-group{
  margin-bottom: 10px;
}
label{
  font-size: 15px;
  text-transform: capitalize;
    letter-spacing: 0.5px;
    color: var(--labelcolor) !important;
}
input{
  font-size: 15px !important;
}
.link{
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}
.loginlinktext{
 margin-top:13px !important;
  font-size: 14px !important;
}
.btn{
  font-weight: bold !important;
  font-size: 15px !important;
/*  background-color: var(--primarycolor) !important;*/
}

#main-pwd{
	position:relative;


}
.p-icon{
	width:15px;
	position:absolute;
	top:43px;
	right:15px;
	cursor:pointer;
}
.p-icon2{
	display:none;
	width:15px;
	position:absolute;
	top:43px;
	right:15px;
	cursor:pointer;
}
